

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-page {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.app-section {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.visits-list {
  margin-bottom: 15px;
  padding: 10px;
}

.delete-btn {
    width: auto;
    padding: 6px 8px;
    margin-left: 20px;
    border-radius: 10px;
    border: 3px solid darkred;
}